<!DOCTYPE html>
<html>
<head>
	<title>Get Video Info</title>
</head>
<body style="text-align:center;">
	<form id="videoForm">
		<label for="videoUrl" style="font-size:60px;">Video URL:</label>
		<input type="text" id="videoUrl" name="videoUrl" style="font-size:60px;"><br><br>
		<button type="button" onclick="getVideoInfo()" style="font-size:60px;">Get Info</button>
	</form>
	<div id="videoInfo" style="width:50vw; word-wrap: break-word; overflow-wrap: break-word; font-size:60px;"></div>
	<script>
		function getVideoInfo() {
			var videoUrl = document.getElementById("videoUrl").value;
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					document.getElementById("videoInfo").innerHTML = this.responseText;
					// alert(this.responseText)
				}
			};
			document.getElementById('videoForm').reset();
			xhttp.open("GET", "https://lzh.up.railway.app/getVideoInfo?videoUrl=" + videoUrl, true);
			xhttp.send();
		}
	</script>
</body>
</html>
